/* ------------------------------------------------------
  | THEME VARIABLES: базовые (light) ☀️
  ------------------------------------------------------ */

:root {
  // COLORS
  // PRIMARY
  --color-primary-light: #f2f3ef; // DARK MOODE TO #252525
  --color-primary: #8d9271;

  //GREY
  --color-white: #ffffff; // DARK MOODE TO #424242
  --color-white-base: #ffffff;

  --color-grey-light-1: #f8f9fa;
  --color-grey-light-2: #e9ecef;
  --color-grey-light-3: #dee2e6;
  --color-grey-light-4: #ced4da;

  --color-grey-dark: #868e96; // DARK MOODE TO #adb5bd
  --color-grey-dark-base: #868e96;

  --color-font: #212529; // DARK MOODE TO #ffff
  --color-font-base: #212529;

  --color-button: #8d9271;
  --color-black: #000000;

  //BLUE
  --color-blue: #176d8c;

  //BORDER RADIUS
  --border-radius-xxs: 0.5rem; // 5px
  --border-radius-xs: 1rem; // 10px
  --border-radius-sm: 1.5rem; // 15px
  --border-radius-md: 2rem; // 20px
  --border-radius-lg: 2.5rem; // 25px
  --border-radius-xl: 3rem; // 30px

  //BOX SHADOW

  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
  --box-shadow-green: 0 0.5rem 1rem #8d92717d;
}

/* ------------------------------------------------------
  | THEME VARIABLES: dark mode 🌙
  ------------------------------------------------------ */

:root[data-theme="dark"] {
  // COLORS
  // PRIMARY
  --color-primary-light: #252525;
  --color-primary: #8d9271;

  //GREY
  --color-white: #424242;

  --color-grey-dark: #adb5bd;
  --color-font: #ffffff;
}

/* -------------------------------
  |  1️⃣ GRID FOR BASE DESKTOP 1️⃣ |
  ------------------------------- */

$grid-header-width: 140rem; // menu and main block
$grid-choose-option-width: 104rem; // menu and main block
$grid-arrows-width: 120rem; // left and right buttons
$grid-main-container-width: 100rem; // main grid

$gutter-horizontal-big: 10rem; // spacing between blocks
$gutter-horizontal-medium: 5rem; // spacing between blocks
$gutter-horizontal-small: 3rem; // spacing between blocks
$row-gap: 2rem; // gap between cards

/* ---------------------------------------------
  |  2️⃣ GRID FOR Tablet landscape: ≤ 1200px 2️⃣ |
  -------------------------------------------- */

$grid-header-tablet-landscape-width: 120rem; // menu and main block
$grid-choose-option-tablet-landscape-width: 100rem; // menu and main block
$grid-arrows-tablet-landscape-width: 120rem; // left and right buttons
$grid-main-container-tablet-landscape-width: 100rem; // main grid

/* ---------------------------------------------
  |  3️⃣ GRID FOR Tablet portrait: ≤ 900px 3️⃣ |
  -------------------------------------------- */

$grid-header-tab-port-width: 100rem; // menu and main block
$grid-choose-option-tab-port-width: 90rem; // menu and main block
$grid-arrows-tab-port-width: 108rem; // left and right buttons
$grid-main-container-tab-port-width: 90rem; // main grid

/* ---------------------------------------
  |  4️⃣ Phone: ≤ 600px HORIZONTAL 4️⃣ |
  -------------------------------------- */

$grid-header-phone-width: 70rem; // menu and main block
$grid-choose-option-phone-width: 70rem; // menu and main block
$grid-main-container-phone-width: 65rem; // main grid

/* -------------------------------------
  |  5️⃣ Extra small phone: ≤ 320px 5️⃣ |
  ------------------------------------ */

$grid-header-xs-phone-width: 95vw; // menu and main block
$grid-choose-option-xs-phone-width: 95vw; // menu and main block
$grid-main-container-xs-phone-width: 90vw; // main grid
